* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Clarkson", Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    align-items: center;
    display: flex;
}
#page3{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 128, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}
#box{
    background-color: rgb(210, 42, 42);
    width: 300px;
    height: 300px;
}