* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: "Clarkson", Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#line {
    border-bottom: 2px solid #fff;

}
/* #logo-color{

} */

#nav h1 {
    margin-left: 3vw;
}

#nav-part2 {
    display: flex;
    gap: 3vw;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 15vw;
}

#nav-part2>a{
    text-decoration: none;
}

#nav-part3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 4vw;
}

#btn {
    cursor: pointer;
    height: 42px;
    width: 93px;
    border-radius: 30px;
    color: #000;
    text-transform: uppercase;
}


#page1 {
    width: 100%;
    height: 100%;
    background-color: #000;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    padding: 0 50px;
}

#container {
    height: 80%;
    width: 100%;
    display: flex;
}

#left {
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    padding-left: 25px;
    padding-top: 150px;
}

#left h1 {
    font-size: 600%;
    line-height: 130px;
    text-transform: uppercase;
}

#right svg {
    margin-left: 30px;
    margin-top: 60px;
    height: 90%;
}

#right {
    height: 100%;
    width: 50%;
    /* background-color: rgb(255, 0, 157); */
    padding-left: 6vw;
    padding-top: 40px;
    overflow: hidden;
}

#scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: #000;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.box {
    height: 250px;
    width: 400px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 30px;
}

.box>p {
    margin-top: 50px;
    font-size: large;
}
.box>h1 {
    display: flex;
    font-size: large;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
}